body {
  text-align: center;
  margin-top: 20%;
  background: url('../img/Hodor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container {
  background-color: rgba(255,255,255,.7);
  width: 40%;
  margin: 0 auto;
  padding: 50px 10px;
  border-radius: 25px;
/*  position: absolute;*/
}
.quotation {
 font-family: 'Dancing Script', Georgia, Times, serif;
 font-size: 59px;
 line-height: 60px;
}
 
.quotation-source {
 font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
 font-size: 18px;
 line-height: 25px;
 margin-top: 15px;
}

.btn {
  margin-top: 40px;
  border: 0px;
  background: none;
  font-size: 40px;
}

#addQuote {
  visibility: hidden;
}

#quotes {
  visibility: visible;
}

#ontouch 